.BARO {
    text-align: center; 
    

}
 
.img {
    height: 900px;
    width:auto ;
}
h1 {
    text-align: center;
}
.baro2 {
    text-align: center;
    
}
.img2 {
    height: 500px;
    width: auto;

}
.Edit {
    text-align: center;
}
body {
    background-image: url(Blue-lock-S2-anime-visual-1.webp);
    background-size: cover;
    background-position: center;
}
.titre {
    font-size: 100px;
    color: rgb(17, 0, 255);
}  
.Sommaires {
    text-align: center;
    font-size: 25px;
    

}
ul {
    list-style: none;
    
   
}
li {
    font-size: 25px;
}
table {
    display: flex;
    justify-content: center;
    font-size: 50px;
}
th {
    border: 1px solid black;
    background-color: red;
    text-align: center;

}
.A {
    background-color: orangered;
    text-align: center;
    border: 1px solid black;


}

td {

    text-align: center;
    border: 1px solid black;
    background-color: grey;
    color: white;


}